[color]
ui = auto

[user]
name = tprrt
email = tprrt@tupi.fr

[format]
signoff = true

[sendemail]
from = Thomas Perrot <thomas.perrot@tupi.fr>
smtpserver = smtp.gmail.com
smtpserverport = 587
smtpencryption = tls
smtpuser = foo
smtppass = bar

[core]
# autocrlf = input
# safecrlf = true
editor = emacs -nw

[color]
ui = auto

# [push]
# default = simple

[status]
showUntrackedFiles = all

[help]
autocorrect = 1
# format = html

[alias]
a = add -Ap
b = branch -vv
d = diff --word-diff=color --word-diff-regex=.
l = log --graph --oneline --all
p = push -u
r = reset -p
s = status -u

lol = log --graph --decorate --abbrev --oneline
lola = log --graph --decorate --abbrev --oneline --all
tidy = rebase -i @{upstream}..
theirs = git cherry-pick --strategy=recursive -X theirs
preserve = rebase --preserve-merges

[mergetool]
prompt = False

[merge]
tool = ediff

[mergetool "ediff"]
cmd = emacsclient -nw -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

# [difftool "ediff"]
# cmd = emacs -nw --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

# [difftool "ediffclient"]
# cmd = emacsclient -nw --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

# [diff]
# tool = ediffclient

